@model ADMTrial.Models.ProductModel

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<div class="product">
    <p>@Html.DisplayFor(model => model.Title)</p>

    <div>
        <div>
            <img src="@Url.Content("/Content/images/" + Model.Image)" alt="Product image" />
        </div>
        <div>
            <p>@Html.Raw(Model.Description)</p>
            <div>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</div>
        </div>
    </div>
    <div>
        <p>@Html.DisplayNameFor(model => model.Specifications)</p>

        <ul>
            @foreach (var item in Model.Specifications)
            {
                <li>@item</li>
            }
        </ul>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
