@model ADMTrial.Models.ProductModel

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<div class="product">

    <div>
        <p>@Html.DisplayFor(model => model.Title)</p>

        <div>
            <div>@Html.DisplayNameFor(model => model.Image)</div>
            <div>
                <p>@Html.DisplayFor(model => model.Description)</p>
                <div>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</div>
            </div>
        </div>
        <div>
            @foreach (var item in Model.Specs)
            {
                <p>@item</p>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
